body {
    background-image: url("../images/redstripes.png");
}

.playspace {
    background-image: url("../images/bluestarts.jpg");

}

/* .playspace {
    /* background-color: lightgrey; */
} */

.title {
    border: blue dotted;
}

.answerlocation {
    border: red dotted;
}

.questionlocation {
    border: green solid;
}